# Puerto del servidor
PORT=3000

# Base de datos PostgreSQL (LOCAL)
DATABASE_URL="postgresql://postgres:Admingi@localhost:5433/smartgym?schema=public"

# JWT - Cambia esto por una clave secreta fuerte
JWT_SECRET="smartgym_super_secret_key_2026_cambiar_en_produccion"

# Tiempo de expiración del token
JWT_EXPIRES_IN="2h"

# Entorno
NODE_ENV="development"